.header .header_row {
  border-bottom: 1px solid #4f5268;
}
.header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #cbccd3;
  font-family: "Raleway-Regular";
  font-weight: 700;
}
@media (max-width: 92.3rem) {
  .header a {
    font-size: 62.5%;
  }
}
@media (max-width: 76.2rem) {
  .header a {
    font-size: 56.3%;
  }
}
@media (max-width: 59rem) {
  .header a {
    font-size: 50.3%;
  }
}
@media (max-width: 44.2rem) {
  .header a {
    font-size: 50.3%;
  }
}
.header h2 {
  font-size: 5rem;
  line-height: 5.5rem;
  color: #ffffff;
  font-family: "OpenSans-Regular" sans-serif;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 92.3rem) {
  .header h2 {
    font-size: 4rem;
  }
}
@media (max-width: 76.2rem) {
  .header h2 {
    font-size: 3rem;
  }
}
@media (max-width: 59rem) {
  .header h2 {
    font-size: 2rem;
  }
}
@media (max-width: 44.2rem) {
  .header h2 {
    font-size: 1rem;
  }
}
.header p {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #ffffff;
  font-family: "Raleway-Regular";
  text-align: center;
}
@media ((max-width: 92.3rem)) {
  .header p {
    font-size: 1.2rem;
  }
}
@media ((max-width: 76.2rem)) {
  .header p {
    font-size: 1rem;
  }
}
@media ((max-width: 59rem)) {
  .header p {
    font-size: 0.8rem;
  }
}
@media (max-width: 44.2rem) {
  .header p {
    font-size: 0.5rem;
  }
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Releway-thin-Italic';
  src: url(../fonts/Raleway-Thin-Italic.ttf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 13px;
}
.container_fluid {
  max-width: 1900px;
  background-image: url(../img/header_background.png);
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  max-width: 1170px;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #ffffff;
  font-family: "Raleway-Regular";
  font-weight: 600;
  text-align: center;
  background-color: #e84545;
}
.btn_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
