
// out: false
@btn_bg: #e84545;
@breakpoint-desktop: ~"(max-width: 92.3rem)";
@breakpoint-medium: ~"(max-width: 76.2rem)";
@breakpoint-small: ~"(max-width: 59rem)";
@breakpoint-extrasmall: ~"(max-width: 44.2rem)";
